
TankNation/.vs/TankNation/v15/.suo
TankNation/.vs/TankNation/v15/Server/sqlite3/db.lock
TankNation/.vs/TankNation/v15/Server/sqlite3/storage.ide
TankNation/.vs/TankNation/v15/Server/sqlite3/storage.ide-shm
TankNation/.vs/TankNation/v15/Server/sqlite3/storage.ide-wal
*.cache
TankNation/TankNation/obj/x86/Debug/TankNation.csproj.CoreCompileInputs.cache
TankNation/TankNation/obj/x86/Debug/TankNation.csprojAssemblyReference.cache
